[Unit]
Description=WorkB CMS Network

[Network]
NetworkName=workb-network
Driver=bridge
Subnet=10.89.1.0/24
Gateway=10.89.1.1

[Install]
WantedBy=multi-user.target default.target
